_site
.sass-cache
.jekyll-metadata
.jekyll-cache
.DS_Store

_posts/2017-12-21-chalk-sample-post-with-all-elements-copy-copy.md
_posts/2017-12-22-configuring-chalk-copy.md
_posts/2017-12-23-introducing-chalk.md

_assets/yarn/
yarn.lock

post-draft