<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <p>
    <span class="footer-left"> <span class="copyleft">&copy;</span> 2021 Maison Néet</span>

    <span class="footer-right">
        <a href="https://github.com/{{ site.social.github }}" rel="noreferrer noopener" target="_blank" title="GitHub">
            {% include svg-icon.html icon="github" %}
        </a>
        <a href="https://twitter.com/{{ site.social.twitter }}" rel="noreferrer noopener" target="_blank" title="Twitter">
            {% include svg-icon.html icon="twitter" %}
        </a>
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" rel="noreferrer noopener" target="_blank" title="LinkedIn">
            {% include svg-icon.html icon="linkedin" %}
        </a>
    </span>
  </p>
</footer>
