// =============================================================================
// Tags
// =============================================================================

.archive-page {
    padding: 0 0 50px 0;
}
  
.archive {
    text-decoration: none;
    a {
        display: inline-block;
        color: $header-link-color;
        text-decoration: none;
        &:hover {
            color: $header-link-color-hover;
        }
    }
}

.archive-list-post-title {
    font-family: $serif;
    font-weight: $base-font-weight-light;
    line-height: $base-line-height;
    color: $gray-darker;
    font-size: $base-font-size * 1.3
}

.archive-list-post-date {
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    font-weight: $base-font-weight-light;
    line-height: $base-line-height;
    color: $gray;
    font-size: $base-font-size / 1.3
}

.count {
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $gray;
    font-size: $base-font-size / 1.3
}

.archive-tags {
    padding: 0;
    margin: 30px 0 30px 0;
    list-style: none;
    li {
        display: inline-block;
        padding-right: 10px;
        a {
            display: inline-block;
            color: $header-link-color;
            text-decoration: none;
            &:hover {
                color: $header-link-color-hover;
            }
        }
    }
}
