// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $base-border-color;
  display: inline-block;
  width: 100%;
  p {
    font-size: 15px;
    color: $gray-light;
  }
  a {
    text-decoration: none;
    margin:0 5px;
  }
  p a svg {
    width: 25px;
    height: 20px;
    fill: $gray-light;
  }
}

.footer-left {
 float: left
}
.footer-right {
 float: right
}